<template>
	<div class="carousel">
		<div class="carousel-slider">
			<div class="carousel-container" ref="BBCarousel">
				<div
					class="carousel-track"
					:style="{
						width: trackWidth + 'px',
						marginLeft: trackPosition + 'px',
						'align-items': cardVerticalAlign,
					}">
					<div
						@click="clickHandler(item.video)"
						class="carousel-card"
						:style="{
							width: cardWidth + 'px',
							padding: '0 '+cardPadding+'px 0 0',
						}"
						v-for="item in items"
						:key="item">
						<div
							class="carousel-card-image"
							:style="{
								backgroundImage: 'url(' + item.poster + ')',
							}">
							<div class="carousel-card-details">
								<div
									v-if="item.title"
									class="carousel-card-detail">
									{{ item.title }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div
				v-if="showNavigation"
				class="carousel-nav prev"
				@click="scrollPrev">
				<svg viewBox="0 0 24 24" role="img">
					<title>arrowLeft</title>
					<path
						d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"
					/>
				</svg>
			</div>

			<div
				v-if="showNavigation"
				class="carousel-nav next"
				@click="scrollNext">
				<svg class="carousel__icon" viewBox="0 0 24 24" role="img">
					<title>arrowRight</title>
					<path
						d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"
					/>
				</svg>
			</div>
		</div>

		<div v-if="showPagination" class="carousel-pagination">
			<div
				class="carousel-pagination-item"
				:class="{ active: page - 1 == paginationSelected }"
				@click="goToItem(page - 1)"
				v-for="page in paginationCnt"
				:key="page"
			></div>
		</div>
	</div>
</template>

<script lang="ts">
	import { defineComponent, PropType } from "vue";
	import Movie from "@/types/Movie";
	export default defineComponent({
		name: "BBCarousel",
		components: {},
		props: {
			items: {
				required: true,
				type: Array as PropType<Movie[]>,
			},
			cardPadding: {
				type: Number,
				default: 20,
			},
			displayCount: {
				type: Number,
				default: 4,
			},
			showNavigation: {
				type: Boolean,
				default: true,
			},
			showPagination: {
				type: Boolean,
				default: true,
			},
			autoScroll: {
				type: Boolean,
				default: true,
			},
			autoScrollDelay: {
				type: Number,
				default: 6000,
			},
			cardVerticalAlign: {
				type: String,
				default: "flex-start",
			},
		},
		data() {
			return {
				paginationCnt: 0 as number,
				paginationSelected: 0 as number,
				clickCnt: 0 as number,
				carouselWidth: 0 as number,
				cardWidth: 0 as number,
				trackWidth: 0 as number,
				trackPosition: 0 as number,
				intervalID: undefined as number | undefined,
			};
		},
		methods: {
			goToItem(pageid: number) {
				this.trackPosition = -(this.cardWidth * pageid - 1);
				this.paginationSelected = pageid;
				this.clickCnt = pageid;
				//clearInterval(this.intervalID)
			},
			scrollPrev() {
				/*if (event) {
		                clearInterval(this.intervalID)
		            }*/
				if (this.clickCnt != 0) {
					this.trackPosition = this.trackPosition + this.cardWidth;
					this.clickCnt--;
					this.paginationSelected = this.clickCnt;
				} else {
					this.trackPosition =
						this.trackPosition -
						this.cardWidth * (this.items.length - this.displayCount);
					this.clickCnt = this.items.length - this.displayCount;
					this.paginationSelected = this.items.length - this.displayCount;
				}
			},
			scrollNext() {
				/*if (event) {
		                clearInterval(this.intervalID)
		            }*/
				let remainingItems = this.items.length - this.displayCount;
				if (this.clickCnt < remainingItems) {
					this.trackPosition = this.trackPosition - this.cardWidth;
					this.clickCnt++;
					this.paginationSelected = this.clickCnt;
				} else {
					this.trackPosition = 0;
					this.clickCnt = 0;
					this.paginationSelected = 0;
				}
			},
			fetchCarouselWidth() {
				this.carouselWidth = document.getElementsByClassName("carousel-container")[0].clientWidth
			},
			clickHandler(value:string) {
				this.$emit("showVideo", value);
			},
			/*triggerAutoScroll() {
				var self = this
				this.intervalID = setInterval(function () {
					self.scrollNext()
				}, this.autoScrollDelay)
		    },*/
		},
		mounted() {
			this.fetchCarouselWidth();
			this.trackWidth = this.calcTrackWidth;
			this.cardWidth = this.calcCardWidth;
			this.paginationCnt = this.calcRemainingItems;
			/*if (this.autoScroll) {
				this.triggerAutoScroll();
			}*/
		},
		beforeUnmount() {
			clearInterval(this.intervalID);
		},
		computed: {
			calcCardWidth() : number {
				return this.carouselWidth / this.displayCount;
			},
			calcTrackWidth() : number {
				let cardWidth = this.calcCardWidth;
				let trackItemCount = this.items.length;
				return cardWidth * trackItemCount;
			},
			calcRemainingItems() : number {
				return this.items.length - this.displayCount + 1;
			},
		},
	});
</script>


<style>
.carousel {
    position: relative;
}
.carousel-slider {
    position: relative;
}
.carousel-container {
    overflow-x: hidden;
}
.carousel-track {
    display: flex;
    align-items: flex-start;
    transition: all 0.3s ease-out;
}
.carousel-track .carousel-card {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
	user-select: none;
	box-sizing: border-box;
}

.carousel-track .carousel-card img {
    display: block;
    width: 100%;
    height: auto;
}
.carousel-card-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 600px;
    position: relative;
    cursor: pointer;
	box-sizing: border-box;
}
.carousel-track .carousel-card:hover .carousel-card-image{
	border: 2px solid #FFD700;
}
.carousel-card-image .carousel-card-category {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 8px 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}
.carousel-card-image .carousel-card-details {
    font-family: "Avenir";
    position: absolute;
    bottom: 25px;
    left: 25px;
    background-color: white;
    padding: 15px 20px;
    color: black;
	display: none;
}
.carousel-card-image .carousel-card-detail {
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    text-align: left;
}
.carousel-card-image .carousel-card-detail.published {
    font-weight: normal;
}
.carousel-nav {
    background-color: #642afb;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	opacity:0;
}
.carousel:hover .carousel-nav{
	opacity:1;
}
.carousel-nav.prev {
    left: -16px;
}
.carousel-nav.next {
    right: -16px;
}
.carousel-nav svg {
    display: block;
    width: 24px;
    height: 24px;
}
.carousel-nav svg path {
    fill: #fff;
}
.carousel-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
	user-select: none;
	opacity:0;
}
.carousel:hover .carousel-pagination{
	opacity:1;
}

.carousel-pagination-item {
    width: 15px;
    height: 15px;
    background-color: #642afb;
    border: 1px solid #642afb;
    border-radius: 50%;
    margin: 2.5px;
	user-select: none;
	cursor: pointer;
}
.carousel-pagination-item.active {
    background-color: #fff;
	cursor: default;
}
</style>