<template>
	<div id="movies">
		<BBCarousel 
			v-if="showCarousel"
			:items="movies"
			:displayCount="cardsPerPage"
			:cardPadding="10"
			@showVideo="showVideo($event)"
		></BBCarousel>
		<video-player v-if="activeVideo" :options="videoOptions" @closeVideo="closeVideo()"></video-player>
	</div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, onUnmounted } from 'vue'
import BBCarousel from '@/components/BBCarousel.vue'
import VideoPlayer from '@/components/VideoPlayer.vue'
import Movie from '@/types/Movie'
export default defineComponent({
	name: 'movies',
	components: {
		BBCarousel,
		VideoPlayer
	},
	async setup() {

		const showCarousel = ref(true);
		const cardsPerPage = ref(5)

		const windowWidth = ref(window.innerWidth)
		if(windowWidth.value < 768){
			cardsPerPage.value = 2
		}
		const onWidthChange = () => {
			showCarousel.value = false
			windowWidth.value = window.innerWidth
			if(windowWidth.value < 768){
				cardsPerPage.value = 2
			} else {
				cardsPerPage.value = 5
			}
			setTimeout(() => {
				showCarousel.value = true;
			}, 200);
		}
		onMounted(() => window.addEventListener('resize', onWidthChange))
		onUnmounted(() => window.removeEventListener('resize', onWidthChange))

		const videoOptions = ref({
				//autoplay: true,
				controls: true,
				sources: [
					{
						src: "",
						type: "video/mp4"
					}
				]
			})
		const activeVideo = ref(false);

		const movies = ref<Movie[]>([])
		const moviesRes = await fetch('http://hybridtv.ss7.tv/techtest/movies.json')
		const moviesData = await moviesRes.json()
		movies.value = moviesData.data

		return { movies, videoOptions, activeVideo, windowWidth, cardsPerPage, showCarousel }
	},
	methods: {
		showVideo(videoURL:string){
			console.log(videoURL);
			this.activeVideo = false
			setTimeout(() => {
				this.videoOptions.sources[0].src = videoURL
				this.activeVideo = true
			}, 200);
		},
		closeVideo(){
			this.activeVideo = false
		},
        setCards() {
			this.showCarousel = false;
			if(this.windowWidth < 768){
				this.cardsPerPage = 2
			} else {
				this.cardsPerPage = 5
			}
			setTimeout(() => {
				this.showCarousel = true;
			}, 200);
        }
	},
    /*watch: {
        windowWidth() {
			this.setCards();
			this.showCarousel = false;
			if(newHeight < 768){
				this.cardsPerPage = 2
			} else {
				this.cardsPerPage = 5
			}
			setTimeout(() => {
				this.showCarousel = true;
			}, 200);
        }
    },*/

})
</script>

<style>
#movies{
	margin:0 40px;
	position: relative;
}
</style>