<template>
    <div class="videoPlayer">
        <video ref="videoPlayer" class="video-js"></video>
        <div v-if="showOverlay" class="videoOverlay">
            <div v-if="playerState == 'play'" class="vo-tool play active" @click="play"><img src="@/assets/btn-play.png" alt="play button"></div>
        </div>
        <div class="closeVideo">
            <div @click="close" class="closeVideo-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.281 11.281">
                    <g id="close" transform="translate(-1376.859 -507.859)">
                        <line
                            id="Line_60"
                            data-name="Line 60"
                            x1="9.867"
                            y2="9.867"
                            transform="translate(1377.566 508.566)"
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                        />
                        <line
                            id="Line_61"
                            data-name="Line 61"
                            x2="9.867"
                            y2="9.867"
                            transform="translate(1377.566 508.566)"
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                        />
                    </g>
                </svg>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import "video.js/dist/video-js.css"
import videojs from 'video.js'
export default defineComponent({
    name: "VideoPlayer",
    props: {
        options: {
            required: true,
            type: Object,
        }
    },
    setup(){
        const player = ref()
        const videoPlayer = ref<HTMLVideoElement | string>('')
        const playerState = ref('play');
        const showOverlay = ref(true);
        /*onMounted(() => {
            player.value = videojs(videoPlayer.value, props.options, function onPlayerReady() {
                console.log('player ready');
            })
        })
        onBeforeUnmount(() => {
            if (player.value) {
                player.value.dispose()
            }
        })*/
       
        return { player, videoPlayer, playerState, showOverlay }
    },
    mounted() {
        this.player = videojs(this.videoPlayer, this.options, function onPlayerReady() {
            console.log('onPlayerReady');
        })
        this.player.on('pause', this.showOverlayTools);
        this.player.on('error', function() {
            console.log('error');
        });
    },
    beforeUnmount() {
        if (this.player) {
            this.player.dispose()
        }
    },
    methods: {
        close(){
            this.$emit('closeVideo');
        },
        play(){
            this.player.play()
            this.hideOverlayTools()
        },
        pause(){
            this.player.pause()
        },
        showOverlayTools(){
            this.showOverlay = true
        },
        hideOverlayTools(){
            this.showOverlay = false
        }
    }       

})
</script>

<style>
.videoPlayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none;
}
.videoPlayer .video-js video,
.videoPlayer .video-js{
    width: 100%;
    height: 600px;
}
.vjs-big-play-button,
.video-js .vjs-big-play-button{
    display: none;
}
.video-js .vjs-play-control:hover{
    background-color:#FFD700;
}
.video-js .vjs-play-control .vjs-icon-placeholder{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.vjs-icon-play:before, 
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
    content: "";
    background-image: url('../assets/btn-pause.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.vjs-icon-play:before, 
.video-js .vjs-play-control .vjs-icon-placeholder:before{
    content: "";
    background-image: url('../assets/btn-play.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.videoPlayer .videoOverlay{
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.videoPlayer .videoOverlay .vo-tools{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}*/
.videoPlayer .videoOverlay .vo-tool{
    display: none;
    cursor: pointer;
}
.videoPlayer .videoOverlay .vo-tool.active{ 
    display: block; 
}
.closeVideo{
    background-color:rgba(255,255,255,0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.closeVideo:hover{
    background-color:rgba(255,255,255,0.16);
}
.closeVideo .closeVideo-icon{
    width: 20px;
    height: 20px;
}
.closeVideo svg{
    display:block;
    width: 100%;
}

</style>