<template>
    <div class="videoPlayer">
        <div v-if="showPlayButton" class="videoPlay">
            <div class="videoPlayButton" @click="playVideo()">
                <div class="playicon"></div>
            </div>
        </div>
        <video
            :id="id"
            ref="videoRef"
            @play="startedPlaying"
            @pause="pausedPlaying"
            :poster="video_poster"
            controls
            autoplay
            loop
        >
            <source :src="video_src" type="video/mp4" />Your browser does not support the video element. Kindly update it to latest version.
        </video>
    </div>
</template>
<script>
import { onMounted } from "vue";
export default {
    name: "VideoPlayer",
    props: {
        id: String,
        video_src: String,
        video_poster: String,
    },
    data() {
        return {
            showPlayButton: true,
        };
    },
    methods: {
        playVideo() {
            let video_element = document.getElementById(this.id);
            video_element.play();
        },
        startedPlaying() {
            console.log("playing");
            this.showPlayButton = !this.showPlayButton;
        },
        pausedPlaying() {
            console.log("paused");
            this.showPlayButton = !this.showPlayButton;
        },
    },
    setup() {
        onMounted(() => {});
    },
};
</script>

<style scoped>
.videoPlayer {
    position: relative;
}
.videoPlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;
}
.videoPlay .videoPlayButton {
    box-sizing: content-box;
    border: 5px solid white;
    transform: none;
    background-color: #fff201;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playicon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #000000;
}
</style>