@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans';
  background-color:#141414;
  margin:0;
  padding:0;
  box-sizing: border-box;
}