<template>
  <div class="movie-app">
    <Suspense>
      <Movies></Movies>
    </Suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Movies from './components/Movies.vue';

export default defineComponent({
  name: 'App',
  components: {
    Movies,
  },
});
</script>

<style>
</style>
